## Importing Libraries & Defining Data

In [24]:
import pandas as pd

file_path = r"C:\Users\Zachu\Downloads\Data _Cleaning_Project\Uncleaned_DS_jobs.csv"
dataset = pd.read_csv(file_path)
print(dataset.info())
print(dataset.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB
None
index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

## Filtering Salary Column

In [25]:
# Specify the column name you want to filter
column_2 = 'Salary Estimate'

# Remove non-numeric characters from the 'Salary Estimate' column
dataset[column_2] = dataset[column_2].str.replace(r'\D', '', regex=True)

# Convert the values to integers
dataset[column_2] = pd.to_numeric(dataset[column_2], errors='coerce')

# Drop NaN values (rows where conversion failed)
dataset = dataset.dropna(subset=[column_2])
print(dataset.head())

   index          Job Title  Salary Estimate  \
0      0  Sr Data Scientist           137171
1      1     Data Scientist           137171
2      2     Data Scientist           137171
3      3     Data Scientist           137171
4      4     Data Scientist           137171

                                     Job Description  Rating  \
0  Description\n\nThe Senior Data Scientist is re...     3.1
1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4  Data Scientist\nAffinity Solutions / Marketing...     2.9

              Company Name       Location            Headquarters  \
0         Healthfirst\n3.1   New York, NY            New York, NY
1             ManTech\n4.2  Chantilly, VA             Herndon, VA
2      Analysis Group\n3.8     Boston, MA              Boston, MA
3             INFICON\n3.5     Newton, MA  Bad Ragaz, Switzerland
4  Affinity Solutions\n2.9   New York, NY            New York, NY

                      Size  Founded        Type of ownership  \
0   1001 to 5000 employees     1993   Nonprofit Organization
1  5001 to 10000 employees     1968         Company - Public
2   1001 to 5000 employees     1981  Private Practice / Firm
3    501 to 1000 employees     2000         Company - Public
4      51 to 200 employees     1998        Company - Private

                                Industry             Sector  \
0                     Insurance Carriers          Insurance
1                 Research & Development  Business Services
2                             Consulting  Business Services
3  Electrical & Electronic Manufacturing      Manufacturing
4                Advertising & Marketing  Business Services

                      Revenue  \
0    Unknown / Non-Applicable
1      $1 to $2 billion (USD)
2  $100 to $500 million (USD)
3  $100 to $500 million (USD)
4    Unknown / Non-Applicable

                                         Competitors
0            EmblemHealth, UnitedHealth Group, Aetna
1                                                 -1
2                                                 -1
3  MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4               Commerce Signals, Cardlytics, Yodlee

In [26]:
# It seems replacing all non-digit characters in the Salary Column merged the salary range into one misleading number
# To fix this I will split the numbers up into lower/Upper ranges and find the mean in three new columns

dataset['Salary Estimate'] = dataset['Salary Estimate'].astype(str)

dataset['lower_range'] = dataset['Salary Estimate'].str[:3].astype(int)
dataset['upper_range'] = dataset['Salary Estimate'].str[3:].astype(int)
dataset['Average Salary'] = (dataset['lower_range'] + dataset['upper_range']) / 2

dataset = dataset.drop('Salary Estimate', axis=1) 


print(dataset[['lower_range', 'upper_range', 'Average Salary']].head())

   lower_range  upper_range  Average Salary
0          137          171           154.0
1          137          171           154.0
2          137          171           154.0
3          137          171           154.0
4          137          171           154.0

## Remove Numbers and Non-Alphabetic Characters from Company Name

In [27]:
column_5 = dataset["Company Name"]
print(column_5.head())

# Replace digits in the 'Company Name' column
dataset["Company Name"] = dataset["Company Name"].str.replace('\d', '', regex=True)
dataset["Company Name"] = dataset["Company Name"].str.replace('\n.', '', regex=True)

# Print the modified 'Company Name' column
print(dataset["Company Name"].head())

0           Healthfirst\n3.1
1               ManTech\n4.2
2        Analysis Group\n3.8
3               INFICON\n3.5
4    Affinity Solutions\n2.9
Name: Company Name, dtype: object
0           Healthfirst
1               ManTech
2        Analysis Group
3               INFICON
4    Affinity Solutions
Name: Company Name, dtype: object

##  Filtering Job Description Based on Skills: Excel, Python or Machine Learning

In [28]:
keywords = ['Excel', 'Python', 'Machine Learning']
dataset['Keyword Present'] = dataset['Job Description'].str.contains('|'.join(keywords), case=False)
print(dataset[['Job Description', 'Keyword Present']])
num_of_jobs = dataset["Keyword Present"].sum()
print(num_of_jobs)

                                       Job Description  Keyword Present
0    Description\n\nThe Senior Data Scientist is re...             True
1    Secure our Nation, Ignite your Future\n\nJoin ...             True
2    Overview\n\n\nAnalysis Group is one of the lar...             True
3    JOB DESCRIPTION:\n\nDo you have a passion for ...             True
4    Data Scientist\nAffinity Solutions / Marketing...             True
..                                                 ...              ...
667  Summary\n\nWe’re looking for a data scientist ...             True
668  Job Description\nBecome a thought leader withi...            False
669  Join a thriving company that is changing the w...             True
670  100 Remote Opportunity As an AINLP Data Scient...             True
671  Description\n\nThe Data Scientist will be part...             True

[672 rows x 2 columns]
604

In [29]:
# Create 3 additional columns for each keyword

dataset['Excel'] = dataset['Job Description'].str.contains('Excel', case=False)
dataset['Python'] = dataset['Job Description'].str.contains('Python', case=False)
dataset['Machine Learning'] = dataset['Job Description'].str.contains('Machine Learning', case=False)

print(dataset[['Job Description', 'Excel', 'Python', 'Machine Learning']])

                                       Job Description  Excel  Python  \
0    Description\n\nThe Senior Data Scientist is re...  False   False
1    Secure our Nation, Ignite your Future\n\nJoin ...  False   False
2    Overview\n\n\nAnalysis Group is one of the lar...   True    True
3    JOB DESCRIPTION:\n\nDo you have a passion for ...   True    True
4    Data Scientist\nAffinity Solutions / Marketing...   True    True
..                                                 ...    ...     ...
667  Summary\n\nWe’re looking for a data scientist ...   True    True
668  Job Description\nBecome a thought leader withi...  False   False
669  Join a thriving company that is changing the w...   True    True
670  100 Remote Opportunity As an AINLP Data Scient...  False    True
671  Description\n\nThe Data Scientist will be part...   True    True

     Machine Learning
0                True
1                True
2                True
3                True
4                True
..                ...
667              True
668             False
669              True
670              True
671             False

[672 rows x 4 columns]

## Filter Jobs Based on Experience
 2 years or less fits current needs so jobs will be filtered accordingly

In [30]:
dataset['Experience'] = dataset['Job Description'].str.extract(r'(\d+) year[s]*').astype(float)
sorted_values = dataset.sort_values(by='Experience', ascending=True)
filtered_values = sorted_values[sorted_values['Experience'] <= 2]


print(filtered_values[['Experience', 'Job Description']])

     Experience                                    Job Description
629         1.0  Job Description\nData Scientist\nDuration: 6+ ...
201         1.0  Company information\n\nCoverent is a specializ...
246         1.0  Logistics done differently.At XPO Logistics, w...
62          1.0  Introduction\n\nHave you always wanted to run ...
426         1.0  Company information\n\nCoverent is a specializ...
558         1.0  About Us:\n\nNYSTEC is a non-profit technology...
49          1.0  Company Description:\nWhats it like to work at...
230         1.0  Senior Data Scientist Active Secret clearance ...
505         1.0  Job Description\nData Scientist\nDuration: 6+ ...
266         1.0  Summary of the Position\n\n\nThe Data Scientis...
364         1.0  Company Description:\nWhats it like to work at...
19          1.0  Responsibilities\n\n\nThe Medical Laboratory S...
7           1.0  Introduction\n\nHave you always wanted to run ...
651         2.0  Company\n\nAstraZeneca is a global, innovation...
667         2.0  Summary\n\nWe’re looking for a data scientist ...
489         2.0  Job Description:\n\nDesigns, develops and prog...
186         2.0  POSITION SUMMARY:\nProduction Engineer - Stati...
455         2.0  Requisition Number: 69506\nCompany Name: DRG I...
444         2.0  About Hive\n\nHive is a full-stack deep learni...
336         2.0  Requisition Number: 69506\nCompany Name: DRG I...
374         2.0  Scientist 1 - Machine Learning - Cell Science\...
154         2.0  Covaxx, a subsidiary of the UBI Group, has joi...
368         2.0  Job Description\nOur client is committed to un...
370         2.0  Company\n\nAstraZeneca is a global, innovation...
412         2.0  Job Description\nAre you an experienced Data S...
404         2.0  British American Tobacco\nReynolds American In...
177         2.0  *Organization and Job ID**\nJob ID: 310918\n\n...
291         2.0  Job Description\nRole: Data scientist\nLocatio...
323         2.0  We are looking for Data Scientists who are int...
256         2.0  We are currently seeking an Environmental Data...
12          2.0  *Organization and Job ID**\nJob ID: 310918\n\n...
621         2.0  Day to Day Responsibilities:\nDaily responsibi...
237         2.0  Who we are\n\n\nFueled by a fundamental belief...
604         2.0  Job Description:\n\nDesigns, develops and prog...
242         2.0  1010data values:\n\n\nIntegrity: Doing the rig...
29          2.0  Formation provides personalization for the lar...
588         2.0  Senior Data Engineer\n\nMaster’s degree in Inf...
648         2.0  Job Description\nOur client is committed to un...
585         2.0  We are seeking a Sr. Research Associate/Scient...
226         2.0  Hi Greetings from Photon!!!!!!! We are looking...
215         2.0  Company\n\nAstraZeneca is a global, innovation...
48          2.0  We are looking for Data Scientists who are int...
539         2.0  Growth with a Purpose\nOppLoans is a rapidly g...
255         2.0  Encouraging Diversity applicants Required Skil...
526         2.0  Scientist 1 - Machine Learning - Cell Science\...
582         2.0  British American Tobacco\nReynolds American In...

In [31]:
# 3 levels of education are extracted 

degree_keywords = ['Bachelor', 'Master', 'PHD']
dataset['Education'] = dataset['Job Description'].str.extract(f'({"|".join(degree_keywords)})')
sorted_data = dataset.sort_values(by='Education')
print(sorted_data[['Education', 'Job Description']])

# Amount of jobs requiring each level are shown

bachelor_degree = dataset['Education'].str.contains('Bachelor').sum()
print("Number of Jobs containing Bachelors degree: ", bachelor_degree)
masters_degree = dataset['Education'].str.contains('Master').sum()
print("Number of Jobs containing Masters degree: ", masters_degree)
phd = dataset['Education'].str.contains('PHD').sum()
print("Number of Jobs containing PHD degree: ", phd)

# Amount of jobs requiring any level of education are shown

total_education = dataset['Education'].isnull().value_counts()
print("Number of true (null) values. I.E No Education listed: ", total_education[True])
print("Number of false (non-null) values. I.E Education IS listed somewhere: ", total_education[False])

    Education                                    Job Description
0    Bachelor  Description\n\nThe Senior Data Scientist is re...
400  Bachelor  Join our team dedicated to developing and exec...
401  Bachelor  YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...
402  Bachelor  The Lead Certified Clinical Laboratory Scienti...
403  Bachelor  Position Overview:\n\nThe Sr. Data Analyst pla...
..        ...                                                ...
666       NaN  About Foundation Medicine:\n\nFoundation Medic...
667       NaN  Summary\n\nWe’re looking for a data scientist ...
668       NaN  Job Description\nBecome a thought leader withi...
669       NaN  Join a thriving company that is changing the w...
671       NaN  Description\n\nThe Data Scientist will be part...

[672 rows x 2 columns]
Number of Jobs containing Bachelors degree:  241
Number of Jobs containing Masters degree:  90
Number of Jobs containing PHD degree:  1
Number of true (null) values. I.E No Education listed:  340
Number of false (non-null) values. I.E Education IS listed somewhere:  332

## Location of Jobs are Extracted

In [32]:
keywords = ("AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY")
dataset['keyword'] = dataset['Location'].str.extract(f'({"|".join(keywords)})')
sorted_values = dataset.sort_values(by='keyword')
print(sorted_values[['keyword', 'Location']])

    keyword        Location
168      AL  Birmingham, AL
251      AL  Birmingham, AL
398      AL  Huntsville, AL
574      AL  Huntsville, AL
416      AZ     Phoenix, AZ
..      ...             ...
611     NaN            Utah
620     NaN   United States
632     NaN      New Jersey
655     NaN  Washington, DC
658     NaN  Washington, DC

[672 rows x 2 columns]